<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="partials/styling :: styling"></th:block>
    <style>
        textarea{
            resize: none;
        }

    </style>
</head>
<body>
<nav th:replace="partials/nav :: navbar"></nav>
<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center">
    <h1 class="h3 mb-3 font-weight-normal">Create a post</h1>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}" >
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" name="title" th:field="*{title}">
            <p class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="" />
        </div>
        <div class="form-group">
            <label for="Body">Body</label>
            <textarea class="form-control" id="Body" name="body" th:field="*{body}" rows="5"></textarea>
            <p class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
        </div>
<!--        <div class="form-group">-->
<!--            <label for="category">Select Category</label>-->
<!--            <select multiple class="form-control" id="category" >-->
<!--                <option th:each="cat : ${cat}"><span th:text="${cat.getCategory()}"></span></option>-->

<!--            </select>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<th:block th:include="partials/styling :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>