<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="partials/styling :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/nav :: navbar"></nav>



<main role="main" class="card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center">
<div class="blog-post" >
    <h2 class="blog-post-title" th:text="${onePost.getTitle()}"></h2>
    <p th:text="${onePost.getBody()}"></p>
    <p >created by: <span th:text=" ${onePost.getUser().getUsername()}"></span></p>
</div>
    <div class="row d-flex justify-content-around">
        <form th:action="@{/posts/{id}/edit (id= ${onePost.getId()})}" th:method="get" >
            <button type="submit" class="btn btn-sm btn-warning" >Edit</button>
        </form>
<!--        <a class="btn btn-lg btn-info " type="button" th:href="@{/posts/{id}/edit (id = ${onePost.getId()})}">Edit</a>-->
        <form th:action="@{/posts/{id}/delete (id= ${onePost.getId()})}" th:method="post" >
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
    </div>



</main>






<th:block th:include="partials/styling :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>