<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="partials/styling :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/nav :: navbar"></nav>
<br>
<br>

<h2 th:text="${onePost.getTitle()}"></h2>
<h3 th:text="${onePost.getBody()}"></h3>
<h3 th:text="${onePost.getUser().getEmail()}"></h3>



<br>
<br>



<th:block th:include="partials/styling :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>