<footer id="footer" th:fragment="footer">
    <div class="row">
        <div class="col-12 col-md">
            <h2>SPRING BLOG</h2>
            <h3>copyright 2022</h3>
        </div>
        <div class="col-6 col-md">

            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/posts">POSTS</a></li>
            </ul>


        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://codeup.com">AFFILIATES</a></li>
            </ul>


        </div>
        <div class="col-6 col-md">

            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#about">ABOUT US</a></li>
            </ul>


        </div>
        <div class="col-6 col-md">

            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="mailto:andrawes.batshoun@gmail.com">CONTACT US</a></li>
            </ul>

        </div>


    </div>
</footer>