<footer id ="footer" th:fragment="footer" >
    <div class="row">
        <div class="col-12 col-md">
            <h2>Logo or icon holder</h2>
            <h3>copyright 2022</h3>
        </div>
        <div class="col-6 col-md">

            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">POSTS</a></li>
            </ul>



        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">AFFILIATES</a></li>
            </ul>


        </div>
        <div class="col-6 col-md">

            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">ABOUT US</a></li>
            </ul>


        </div>
        <div class="col-6 col-md">

            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">CONTACT US</a></li>
            </ul>

        </div>


    </div>
</footer>